!!! 5
html
  head
    title Pharos
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/pharos.js?token=#{token}')
    script(src='/javascripts/prettify/prettify.js')
    script(src='/javascripts/jquery.relatize_date.js')
    script(src='/javascripts/app.js')

  body
    header
      div.top
        hgroup.container
          h1 Pharos
          h2 push and tracking engine
      nav
        ul.container
          li.active 
            a(href='/') Overview
          li 
            a(href='/log') Log
          li 
            a(href='/connected') Connected
          li 
            a(href='/push') Push

    #main.container
      div.row
        div.span9.content!= body
        div.span3.sidebar
          h1 Sidebar
          h2 Stats
          table.table.table-condensed.table-bordered
            tbody
              tr
                td Pushed
                td.pushed loading...
              tr
                td User
                td.user loading...
              tr
                td Sockets
                td.sockets loading...

    footer 
      | Fork Pharos on
      a(href='https://github.com/philipp-spiess/pharos') GitHub
      | . Powered by
      a(href='http://socket.io') socket.io
      |  and 
      a(href='http://redis.io') redis
      | .
      br
      img(src='https://secure.travis-ci.org/philipp-spiess/pharos.png?branch=master')