h1 Log
p See what's going on.
table.log.table.table-bordered.table-striped.table-condensed
  thead
    tr
      th Channel
      th Type
      th Receiver
      th Message
      th Date
      th
  tbody
    tr.loading
      td(colspan=6) Loading...