body
  background: #edefef url('/images/bg.gif')
  font-size:13px
  text-shadow:0 1px 0 white
  padding-top:60px

header
  width:840px
  max-width:100%
  margin:0 auto
  .nav
    margin-bottom:0
    .info
      float:right
      a
        color:#999
        font-size: 90%
        margin-right:0
        padding-right:0

#main 
  background:#fff
  border:1px solid #DDD
  border-top:0
  min-height:400px
  padding:19px
  width:800px
  max-width:100%
  margin:0 auto
  .left 
    width:560px
    float:left
    margin-left:20px
  .right
    width:220px
    float:left
    margin-left:20px


footer
  text-align:center
  font-size: 85%
  margin:10px
  color:#999
  a
    color:#345A67
    text-decoration:none

  